---
layout:           default
---

{{ content }}

<script type="text/javascript">
    $(function(){
        function animateBar($item,noAni){
            var spanLeft = $item.find('span').offset().left;
            var conLeft = $item.parent().offset().left;
            var left = spanLeft - conLeft;
            var width = $item.find('span').width() + 8;

            if(noAni){
                $('#cateBar').css({left:left,width:width})
            }else{
                $('#cateBar').stop().animate({left:left,width:width},300)
            }
        }

        var waitForFinalEvent = (function () {
            var timers = {};
            return function (callback, ms, uniqueId) {
                if (!uniqueId) {
                    uniqueId = "Don't call this twice without a uniqueId";
                }
                if (timers[uniqueId]) {
                    clearTimeout (timers[uniqueId]);
                }
                timers[uniqueId] = setTimeout(callback, ms);
            };
        })();

        $('.artical-cate li').mouseenter(function(){
            animateBar($(this));
        }).mouseleave(function(){
            animateBar($('.artical-cate .on'));
        });

        $(window).resize(function(e){
            waitForFinalEvent(function(){
                animateBar($('.artical-cate .on'));
            })
        })
        animateBar($('.artical-cate .on'),true);



        //音乐插件
//        arrMusicID = [411314657];  //musicID array
//        musicID = Math.floor(Math.random()*(arrMusicID.length)) //get a ran num as index
//        $('body').css('height',document.documentElement.clientHeight -5);
//
//        if (!Number.isInteger(arrMusicID[musicID])) return; // load failed, bye~
//
//        var iframe = document.createElement('iframe');
//        iframe.id="bgm";
//        iframe.style = "position: absolute; bottom: 0; left: 30px; border: 0px;";
//        iframe.src = '//music.163.com/outchain/player?type=2&id=' +arrMusicID[musicID]+ '&auto=1&height=32';
//        console.log(iframe.src)
//        iframe.frameborder="no";
//        iframe.marginwidth="0";
//        iframe.marginheight="0";
//        iframe.width=250;
//        iframe.height=52;
//        document.body.appendChild(iframe);
    });
</script>

